
body{
	min-width: 320px;
}

/*head block*/
#header{
	height: 700px;
	background-color: rgb(234,80,36);
	position: relative;	
	padding: 0;
}

#bg-map{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../image/bg.png");
	opacity: 0.7;
	left: 0;
}
#header #header-navbar{
	padding: 15px 15px 15px 20px;
	background-color: rgb(234,80,36);
	border: none;
	z-index: 2;
	border-radius: 	0;	
}

#header #header-navbar #nav-logo{
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	padding-left: 40px;
	background: url(../image/logo-icon-nav.jpg) left no-repeat;
	background-size: 30px;
}
#header #header-navbar .navbar-right li a{
	color: white;	
	background-color: rgb(234,80,36);
}

#header #header-navbar .navbar-right li a:hover:after,
#header #header-navbar .navbar-right li a.current-page:after{
	content: "_";
	position: absolute;	
	bottom: 20px;
	left: 50%;
	font-size: 	40px;
	margin-left: -10px;
}


#search{
	text-align: center;
	position: absolute;	
	left: 50%;
	bottom: 170px;
	width: 300px;
	margin-left: -150px;
}

#search img,
#search label{
	display: block;
	margin: 0 auto;
}
#search img{	
	opacity: 0;
	margin-bottom: 15px;
}

#search label input{
	background-color: rgb(182,72,38);
	border: none;
	height: 35px;
	width: 300px;
	margin: 10px 0;
	padding: 10px; 	
}

#search label input:focus{
	outline: 1px solid rgba(255,255,255,.5);
}

#search span{
	color: white;
}

#search span:last-child{
	color: rgb(111,44,23);
}

.slide{
	display: none;
}
/*top place block*/
#top-place{
	ackground-color: rgb(247,247,247);
	padding-bottom: 50px;
}

#top-place #top-place-slider{
	position: relative;	
}

#top-place > h4{
	text-transform: uppercase;
	letter-spacing: 7px;
	margin: 20px 0;
}

#top-place #top-place-slider div img{
	width: 100%;	
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#top-place-slider-before,
#top-place-slider-after{
	position: absolute;
	bottom: 55%;
	font-size: 25px;
	opacity: .5;
	cursor: pointer;
}
#top-place-slider-after{
	right: 	0;
}
#top-place-slider-before{
	left: 	0;
}
#top-place-slider-after:hover,
#top-place-slider-before:hover{
	opacity: 1;
}

#top-place #top-place-slider .slide-wrapper{
	background-color: #fff;
	margin: 10px 0;
}
#top-place #top-place-slider .slide-wrapper span{
	font-size: 1.1em;
	color: 	black;
}
#top-place #top-place-slider .slide-wrapper span:last-child{
	color: 	#999;
	font-size: .9em;
}

/*how to use block*/
#how-use{
	padding-bottom: 50px;
}
#how-use h4,
#how-use h4 span{
	text-transform: uppercase;
	letter-spacing: 7px;
}
#how-use i{
	display: block;
	margin: 0 auto;
	font-size: 35px;
}

#how-use div img{
	width: 100%;
}
#how-use div img:first-child{
	margin-top: 40px;
}

#how-use p{
	max-width: 300px;
	margin: 0 auto;
}


/*news block*/
#news{
	height: 300px;
	background-color: rgb(247,247,247);
}
#news > h4{
	text-transform: uppercase;
	letter-spacing: 7px;
	margin: 20px 0;
}


/*recommendation block*/
#recommendation{
	height: 400px;
	background-color: rgb(247,247,247);
}

#recommendation > h4{
	text-transform: uppercase;
	letter-spacing: 7px;
	margin: 20px 0;
}
/*footer block*/
#footer{
	display: block;
	height: 40px;
	line-height: 40px;
}

/* media */
@media only screen and (max-width: 920px){

	#header #header-navbar .navbar-right li a{
		padding-right: 10px;
		padding-left: 0;
	}

	#header #header-navbar .navbar-right li:last-child a{
		padding-right: 0px;
		padding-left: 0;
	}
}
@media only screen and (max-width: 803px){

	#header #header-navbar{
		padding: 15px 7px 15px 10px;
	}
	#header-navbar-wrapper{
		padding-right: 5px;
	}
}
@media only screen and (max-width: 767px){

	#header #header-navbar{
		border-bottom: 1px solid white;
	}
}